<tr>
  <td><%= number_to_currency(loan.amount) %></td>
  <td><%= time_tag(loan.due_date) %></td>
  <td><%= loan.purpose %></td>
  <td><%= link_to edit_loan_path(loan) do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
  </td>

</tr>
