<div class="card rounded-0">
  <div>
  </div>
  <div class="card-header">
    <a class="btn btn-outline-secondary float-start position-absolute" href="#">
      <i class="bi bi-caret-left-fill fs-4 text-black"></i>
    </a>
    <h2 class="pt-2 text-center">Your Debts</h2>
  </div>

  <% @lenders.each do |lender| %>
    <div class="card-body m-2 border border-2 rounded-3 shadow-sm">
      <%= render 'lender-summary',  lender: lender  %>
    </div>
  <% end %>

</div>
