<% provide :header, "Your Debts"  %>

<% @lenders.each do |lender| %>
  <div class="card-body m-2 border border-2 rounded-3 shadow-sm">
    <%= render 'lender-summary',  lender: lender  %>
  </div>
<% end %>

<div class="card-footer">
  <%= link_to "ADD",new_loan_path, class: "btn btn-primary" %>
</div>
