<% provide :header, @lender.name %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">amount</th>
      <th scope="col">Due Date</th>
      <th scope="col">Purpose</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'loans/loan', collection: @loans, cached: true %>
  </tbody>
</table>

<div class="card-footer">
  <%= link_to "ADD",new_loan_path(lender: @lender), class: "btn btn-primary" %>
</div>
